<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Films</title>
</head>
<body>

<h1>Фильмы на которые мы идём</h1>
<a href="/add-film">Добавить фильм</a>

{{#each movies}}

    <div class="card">
        <div class="card mb-3">
            <h3 class="card-header"><a href="/film/{{this.id}}">{{ this.title }}</a></h3>
        </div>
        <div class="card-body">
            <p class="card-text">{{ this.description }}</p>
            <h5 class="card-title">{{ this.date }}</h5>
            <a href="{{ this.url }}" class="btn btn-primary" target="_blank">ссылка на трейлер</a>
        </div>
        <a href="/update/{{this.id}}">редактировать</a>
    </div>

{{/each}}

</body>
</html>